<div class="modeler-container">
    <div class="modeler-header">
        <div class="modeler-logo">LOGO</div>
        <div class="modeler-header-content">
            <div class="modeler-title">工段设计器</div>
            <div class="modeler-header-btns">
                <div class="modeler-header-btn">暂存</div>
                <div class="modeler-header-btn">发布</div>
                <div class="modeler-header-btn">适应屏幕</div>
            </div>
        </div>
    </div>
    <div class="modeler-body">
        <div class="modeler-palette"></div>
        <div class="modeler-x6"></div>
    </div>
</div>