<div class="x6-container">
    <div class="row">
        <div class="col-md-12">
            <div class="x6-examples-title">车间设计器</div>
        </div>
    </div>
    <div class="row x6-body">
        <div class="col-md-2 x6-body-col">
            <div class="st-box">
                <span class="st-dot-bg st-dot-top st-dot-left"></span>
                <span class="st-dot-bg st-dot-top st-dot-right"></span>
                <span class="st-dot-bg st-dot-bottom st-dot-left"></span>
                <span class="st-dot-bg st-dot-bottom st-dot-right"></span>
                <span class="st-dot-sm st-dot-top st-dot-left"></span>
                <span class="st-dot-sm st-dot-top st-dot-right"></span>
                <span class="st-dot-sm st-dot-bottom st-dot-left"></span>
                <span class="st-dot-sm st-dot-bottom st-dot-right"></span>
                <div class="x6-palette"></div>
            </div>
        </div>
        <div class="col-md-10 x6-body-col">
            <div class="st-box">
                <span class="st-dot-bg st-dot-top st-dot-left"></span>
                <span class="st-dot-bg st-dot-top st-dot-right"></span>
                <span class="st-dot-bg st-dot-bottom st-dot-left"></span>
                <span class="st-dot-bg st-dot-bottom st-dot-right"></span>
                <span class="st-dot-sm st-dot-top st-dot-left"></span>
                <span class="st-dot-sm st-dot-top st-dot-right"></span>
                <span class="st-dot-sm st-dot-bottom st-dot-left"></span>
                <span class="st-dot-sm st-dot-bottom st-dot-right"></span>
                <div class="x6-examples"></div>
            </div>
        </div>
    </div>
</div>