@keyframes ant-line {
    to {
        stroke-dashoffset: -1000;
    }
}

*::-webkit-scrollbar {
    display: none;
}

html,
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #041e3f, #011022);
    font-family: "Times New Roman", "Microsoft YaHei";
    box-sizing: border-box;

    .pointer {
        cursor: pointer;
    }

    .single-text-btn {
        width: 38px;
        height: 38px;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        transition: all .3s ease;

        &.blue {
            background: #1890FF;
        }

        &.red {
            background: #F5222D;
        }

        &.gray {
            background: #BFBFBF;
        }

        &:hover {
            &.blue {
                color: #1890FF;
                background: #bae7ff;
            }
    
            &.red {
                color: #F5222D;
                background: #ffccc7;
            }
    
            &.gray {
                color: #BFBFBF;
                background: #434343;
            }
        }
    }
}
