.modeler-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .modeler-header {
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;

        .modeler-logo {
            width: 300px;
            height: 100%;
            background: #054da2;
            color: #ffffff;
            font-size: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .modeler-header-content {
            flex-grow: 1;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: row;
            display: flex;
            align-items: center;
            justify-content: center;

            .modeler-title {
                font-size: 36px;
                background-image: linear-gradient(to bottom, #64faf4, #31d1fa, #10b7fe);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 500;
                line-height: 1;
                letter-spacing: 12px;
            }

            .modeler-header-btns {
                position: absolute;
                width: 100%;
                height: 100%;
                right: 0;
                top: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;

                .modeler-header-btn {
                    min-width: 140px;
                    min-height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 8px;
                    color: #ffffff;
                    font-size: 16px;
                    margin-right: 16px;
                    background: #054DA2;
                    border-radius: 6px;
                    cursor: pointer;
                    transition: all .3s;

                    &:hover {
                        background: #2169B0;
                    }
                }
            }
        }
    }

    .modeler-body {
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: row;

        .modeler-palette {
            width: 300px;
            height: 100%;
        }

        .modeler-x6 {
            flex-grow: 1;
            height: 100%;
        }
    }
}
